body{
background:#0f0f0f;
color:white;
font-family:Arial;
}

header{
background:black;
padding:20px;
}

nav a{
margin-right:20px;
color:white;
text-decoration:none;
}

.cards{
display:flex;
gap:20px;
}

.card{
background:#1a1a1a;
padding:20px;
border-radius:8px;
color:white;
text-decoration:none;
}