/* =================================
   VIZAG JAMHUB - LOGO
================================= */

/* OVER LAY LOGO */


#overlay-logo{
position:fixed;

top:50%;
left:50%;

transform:translate(-50%,-50%);

width:100vw;
max-width:1200px;

z-index:2;

opacity:0.9;

pointer-events:none;

transition:opacity 0.5s ease;
}


/* TOP PAGE LOGO NODIFIED PLACE FOR CATEGORY, LANGUAGE PAGE AND MORE*/

.top-logo{

width:100%;

display:flex;
justify-content:center;

padding-top:10px;
padding-bottom:5px;

margin-top:-20px;

position:relative;

z-index:5;

pointer-events:none;

}

.top-logo img{

width:1000px;
max-width:85%;

}

.top-logo{
padding-bottom:0;
margin-bottom:-350px;
}
